<a href="https://colab.research.google.com/github/dayoungnim/class2021Spring/blob/main/0315.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

오늘 한 것 중에 신기한 것/알게된 것 정리!!!

In [1]:
a=1;print(type(a))

<class 'int'>

In [2]:
a=1
a
b=2
b #이러면 맨 끝에 있는 변수 하나만 나오거덩 그래서 print를 써야한단다~

2

In [3]:
a=1
print(a)
b=2
print(b) #이렇게용

1
2

In [4]:
a=[1,'2', [3,'4']]
print(a[1]) #시험임

2

In [5]:
a=[1,'2',[3,'4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]) #시험

<class 'list'>
1
2
[3, '4']

In [7]:
a=[1,2,3]
a[0]=5
a[0] #오호 이렇게 바꿀수도있답니다

5

In [11]:
s='abcdef'
print(s[0], s[-1], s[5])
print(s[1:3], s[:], s[:3], s[2:])
print(s[1:-1])

a f f
bc abcdef abc cdef
bcde

In [13]:
s.upper()
s #오 얘(.something()이렇게생긴애들)는 새로 어싸인을 해야한대요!!! 바로 안바꾸나바 그래서
s=s.upper() #이렇게 해야
s  #이렇게 나와여~ 아 몽미

'ABCDEF'

In [19]:
#rindex는 꺼꾸로?인가봐
s=' this is a house built this year.\n' 	
#이며는 
result=s.rindex('this')
result

23

In [20]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s #\n바바이

'this is a house built this year.'

In [21]:
#완전 짱짱짱짱 대박대박 중요한 split!!!!!

tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens #각각 쪼개서 리스트로 만들어주기 떄문

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [22]:
#스플릿이랑 정반대인 join 
s=' '.join(tokens)
s

'this is a house built this year.'

In [23]:
for i in range(3): #하면은 0,1,2 이렇게 숫자 3개 만들어서
  print(i) #이렇게댐

0
1
2

In [24]:
a=[1,2,3,4]
for i in range (4): #응용! _인덱스 그니까 리스트를 바로 해서 적는 방법 또는 range를 사용하는 방법 이렇게 2가지가 있구나! 라는 걸 알면대요
  print(a[i])

1
2
3
4

In [ ]:
#안쪽 for부터 먼저 읽는다!!

for i in range(1,3):
  for j in range(3,5):
    if j>=4:
      print(i*j) #다시 보기 이게 뭐여

In [ ]:
a=[1,2,3,4]
b=[i for i in a if i>=2]
b #얘는 낼 한대