<a href="https://colab.research.google.com/github/dayoungnim/class2021Spring/blob/main/20210317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘 과제

In [22]:
for i in ['다영이','최다영']:
  for j in ['짱','최고','완전짱','천재','바보임메롱']:
    if len(j) <5:
      print(i+j)

다영이짱
다영이최고
다영이완전짱
다영이천재
최다영짱
최다영최고
최다영완전짱
최다영천재

In [24]:
DY=['최다영','다영이','다영이는짱','나는22살','왜벌써22살?']
b=[i for i in DY if len(i)>=4]
b

['다영이는짱', '나는22살', '왜벌써22살?']

#이건 그냥 혼자 필기한 거

In [8]:
a=[1,2,3,4]
for i in range(0,4): #0다음부터 4까지, 이거 range숫자 바꾸면 어떻게나올지 잘 알아야 함! range (1,5)하면 에러 나오는데 그 이유는 리스트에 5가 없어서
  print(a[i])

1
2
3
4

In [10]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,10,3): #range가 겁나 중요함!!!! 이거는 3개씩 차이나는거 
  print(a[i])

1
4
7
10

# in 다음에 바로 

1) 리스트가 올 수 있다.

2) 리스트를 바로 안쓰고 range라는 함수를 이용할 수 있는데, range 안에 숫자 1개, 2개, 3개가 들어갈 수 있으니 각각 어떻게 작용되는지 잘 알아보기!!

In [12]:
a=1
if a==0:
  print(a) #아무것도 안나오지롱

In [13]:
for i in range(1,3): #큰 것 부터 먼저 돌기-1,2를 i에다가 집어넣으면서 돌아가는ㄴ겨 1) 먼저 i는 1일 때, 2) 다음 i가 2일 때
  for j in range(3,5): #그 다음 j에다가 3,4,돌면서 가는겨 1-2) j는 3과 4, 2-2) j는 3,4
    print(i*j)

3
4
6
8

In [14]:
for i in range(1,3):
  for j in range(3,5):
    if j >=4:
      print(i*j)

4
8

In [17]:
a=[1,2,3,4]
b=[i for i in a if i>=2] #for i in [1,2,3,4] 인데 만약에 i가 2보다 같거나 크면은 !!! 맨 앞에 i는 뭐냐면 그 i를 가지고 b를 만들어라임
b #리스트가 출력됨쓰!!

[2, 3, 4]