<a href="https://colab.research.google.com/github/dayoungnim/class2021Spring/blob/main/20210322.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 수업 중 과제!
#이차함수 만들기 x의 제곱은 x**2

In [28]:
def func2(x,a,b,c):
  y=(a*x**2)+(b*x)+c
  return y

func2(2,3,4,11)

31

이건 걍 필기임 오늘의 0322 필기

In [11]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide (a,b):
  return a/b

def func1 (x):
  a=1
  b=2
  y=ax+b
  return y

def func11(x,a,b):
  y=a*x+b
  return y


#왜만드냐?

In [12]:
c=add(1,2); print(c)
c=func11(1,2,3); print(c)

3
5

In [13]:
def add (a,b):
  c=a+b #이렇게 return으로 출력안하면

In [14]:
c=add(1,2); print(c)  #이렇게 오류는 안나고 None으로 출력댐 오호 참신기하구나

None

In [17]:
def add():
  a=1 #입력도 없으면?

In [18]:
add(); print(c) #얘도 오류 안나고 None 따라서 입력/출력 없이함수를 만들 수 있다! 할수잇는일은 없지마는

None

In [19]:
def add(a,b):
  return a,b

In [21]:
result=add(1,2); print(result)
type(result)

(1, 2)

tuple